
.normal {
  background: #799FF2;
}

.searchSquare {
  margin-top: 5px;
}

.mainContainer {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  /* padding-top: 15%; */
  /* padding-bottom: 15%; */
}