.root {
  width: 100%;
  height: calc(100vh - 0px);
  text-align: initial;
  padding-top: 0px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  /* margin-top: -16px; */
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  /* padding: 16px; */
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
  margin: 0;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
  margin: 0;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.ant-card-wider-padding .ant-card-body {
  padding: 0px;
}

.ant-card-body {
  padding: 0px;
}

.footer {
  text-align: left;
  background-color: white;
  height: 48px;
  padding: 10px 50px;
}