.card-container>.ant-tabs-card>.ant-tabs-content {
  height: 120px;
  /* margin-top: -16px; */
}

.card-container>.ant-tabs-card>.ant-tabs-content>.ant-tabs-tabpane {
  background: #fff;
  /* padding: 16px; */
}

.card-container>.ant-tabs-card>.ant-tabs-bar {
  border-color: #fff;
  margin: 0;
}

.card-container>.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
  margin: 0;
}

.card-container>.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.ant-card-wider-padding .ant-card-body {
  padding: 0px;
}

.ant-card-body {
  padding: 0px;
}

.footer {
  text-align: left;
  background-color: whitesmoke;
  height: 48px;
  padding: 10px 50px;
}

.userInfoNode {
  float: right;
  margin-top: 15px;
  /* border: 1px solid white; */
  width: 250px
}
