.listItemMeta:hover{
    background-color: lightblue;
}
.listItemMeta{
    background-color: white;
    width: '99%';
    text-align: center;
}
.listItemMetaSelected {
    background-color: lightblue;
}
.ant-list-item-main{
    width: '100%'
}